/* Estilos generales */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.textStyle {
  font-family: "Press Start 2P", monospace;
}

main {
  position: relative;
  height: 67%;
  width: 100%;
  background-color: #f9f3df;
}

body {
  background-color: #fceacc;
  width: 100vw;
  height: 100vh;
}
/*Menu | Header*/

header {
  position: relative;
  font-family: "Press Start 2P", monospace;
  font-size: 12px;
  height: 15%;
  background-color: #f6eabe;
}

ul li {
  display: inline;
  list-style-type: none;
  padding: 1%;
}

nav {
  position: absolute;
  width: 40%;
  top: 40%;
  right: 0%;
}

.tituloNav {
  position: absolute;
  top: 40%;
  left: 7%;
}

.logoNav {
  position: absolute;
}

.imgLogo {
  width: 14%;
}

/* Home */

main {
  position: relative;
  height: 67%;
}

.sectionImg {
  position: absolute;
  width: 25%;
  top: 5%;
  left: 37%;
}

.textContent {
  position: absolute;
  bottom: 0.2%;
  left: 28%;
  width: 40%;
  text-align: center;
}

section h4 {
  padding: 2%;
}

/* About Me */

.sectionPerfil {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 90%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
}
.fotoPerfil {
  width: 18%;
  border-radius: 15%;
  margin-right: 40px;
}

.descripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.descripcionTextStyles {
  font-size: 10px;
  line-height: 20px;
}

/* Tech Stack */

figure {
  width: 33%;
}

figure img {
  width: 30%;
}

figure figcaption {
  margin-top: 10px;
}

#mainTechStack {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Press Start 2P", monospace;
  text-align: center;
}

/* CSS art */

.textStyleArt {
  font-family: "Press Start 2P", monospace;
  font-size: 10px;
  line-height: 30px;
  text-align: center;
}

.textPosition {
  position: absolute;
  width: 40%;
  top: 3%;
  left: 29%;
}

section img {
  width: 150px;
  margin: 20px;
}
.sectionCssArtImg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#mainCssArt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Contact */

.contactBox {
  background-color: rgba(255, 255, 255, 0.7);
  width: 40%;
  height: 90%;
  position: relative;
  top: 5%;
  margin: auto;
  border-radius: 2%;
  font-family: "Press Start 2P", monospace;
  font-size: 10px;
  text-align: center;
}

.questionContact {
  width: 90%;
  position: absolute;
  top: 15px;
  line-height: 20px;
  left: 20px;
}

.formControl {
  display: flex;
  flex-direction: column;
  width: 80%;
  position: absolute;
  top: 100px;
  left: 10%;
  height: 60%;
  justify-content: space-evenly;
  text-align: left;
}

.messageBox {
  /* Caja del mensaje */
  height: 30%;
}

#btnForm {
  /* Boton de envio */
  font-family: "Press Start 2P", monospace;
  font-size: 10px;
}

/* Footer */

footer {
  position: relative;
  height: 10%;
  font-family: monospace;
}

footer img {
  width: 2%;
  padding: 1%;
}

.divFooter {
  position: absolute;
  top: 30%;
  margin: 0.5%;
  text-align: center;
}
